.recomm-product{
    /* width: 150px; */
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.recomm-product .recomm-product-img-wrapper{
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    border: 1px solid var(--color-primary-light);
    border-radius: 10px;
    overflow: hidden;
}
.recomm-product-img-wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
.recomm-product-info{
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}
.recomm-product-title{
    margin-bottom: 10px;
}
.recomm-product-link{
    text-decoration: none;
    color: var(--color-primary);                                            
    text-align: left;
}
#recomm-product-variant-selector{
    color: var(--color-primary);
    padding: 5px;
    border: 1px solid var(--color-primary-light);
    border-radius: 5px;
    font-size: 16px;
}
input[type="checkbox"]{
    display: none;
}
.select-icon{
    position: absolute;
    top: 10px;
    left: 10px;
    color: var(--green);
    background: rgba(255, 255, 255, 0.726);
    border: 2px solid lightgray;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}