.total-card{
    width: 100%;
    border: 1px solid var(--color-primary-light);
    border-radius: 25px;
    padding: 1rem;
    margin-top: 1rem;
    font-family: var(--text-primary);
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.total-cart-heading{
    display: flex;
    justify-content: space-between;
    color: var(--color-primary);
    font-size: var(--text-large);
}

.total-card-price{
    display: flex !important;
    gap: 10px;
    flex-wrap: wrap;
}
.total-card-price .money:first-child{
    text-decoration: line-through !important;
    color: rgb(130, 130, 130) !important;
    font-size: 14px;
    font-weight: 500;
}
.total-card-price .money:last-child{
    color: #E1493E !important;
    font-weight: 600 !important;
}

.total-card-items{
    color: var(--color-secondary);
    font-size: var(--text-small);
    text-transform: uppercase;
}

.total-card-products{
    font-size: var(--text-large);
}
.total-card-product{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    align-items: center;
    margin-bottom: 5px;
}
.total-card-product-price{
    /* font-weight: bold; */
}

.show-all{
    text-transform: uppercase;
    font-size: var(--text-medium);
    color: var(--color-primary);
}

.total-card-product-title{
    max-width: 70%;
}

.total-card-product-price{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.total-card-product-price .money:first-child{
    text-decoration: line-through !important;
    color: rgb(130, 130, 130) !important;
    font-size: 14px;
}
.total-card-product-price .money:last-child{
    color: #E1493E !important;
    font-size: 14px;
}

@media screen and (max-width: 550px) {
    .total-card-product-price,.total-card-price{
        align-items: flex-end;
        flex-direction: column;
        gap: 5px;
    }
}

.act-btn{
    border-radius: 20px;
    margin-top: 10px;
    transition: all 0.5s ease;
    max-height: none;
    border: 1px solid #6E2637;
    background: #6E2637;
    color: white;
    height: 35px;
    width: 249px; 
    padding: 3px 28px; 
    font-size: 18px;
}
