.item-accordion{
    font-family: var(--text-primary);
    margin-bottom: 5px;
    border: 1px solid var(--color-primary-light);
}

.acc-header{
    font-size: var(--text-medium);
    font-weight: 500;
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    border-radius: 25px;
}
.acc-title{
    font-size: 14px;
    font-weight: 400;
    color: var(--color-primary);
    letter-spacing: 0.06rem;
    text-transform: uppercase;
}
.added-item{
    color: var(--color-secondary);
    font-size: var(--text-small);
    text-transform: uppercase;
}
.toggle-icon{
    width: 15px;
    height: 15px;
    color: var(--color-primary);
}
.acc-body{
    width: 100%;
    border-radius: 20px;
    padding: 0 16px 20px;
    padding-top: 0px;
    max-height: 3000px;
    height: auto;
    transition: all 0.5s ease;
}
.recomm-products-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    overflow-x: auto;
    padding: 15px 0px;
    padding-top: 0px;
}
.recomm-products-wrapper::-webkit-scrollbar{
    height: 5px;
}
.recomm-products-wrapper::-webkit-scrollbar-thumb{
    background: var(--color-primary);
    height: 0px;
    border-radius: 20px;
}
.recomm-products-wrapper::-webkit-scrollbar-track{
    background: var(--color-primary-light);
    border-radius: 20px;
}
.hide{
    max-height: 0px;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
}
.selected-product-card{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: 1px solid var(--color-primary-light);
    /* border-radius: 10px; */
    padding: 1rem;
    gap: 5px;
    font-family: var(--text-primary);
    margin-bottom: 5px;
}
.charmproduct-details{
    display: grid;
    grid-template-columns: 64px 1fr;
    width: 100%;
    column-gap: 10px;
    padding-top: 2px;
  }
.selected-product-details{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.selected-product-img{
    width: 64px;
    /* height: 64px; */
}
.selected-product-img img{
    width: 100%;
    object-fit: contain;
}
.selected-product-text{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.selected-product-info .title{
    font-size: 13px;
    margin: 0 !important;
}
.selected-product-info .color{
    font-size: 12px;
}
.edit-button{
    justify-self: flex-start;
    color: var(--color-primary);
    font-family: var(--text-primary);
    font-size: var(--text-medium);
    text-transform: uppercase;
    cursor: pointer;
}
.hidden{
    display: none;
}





