@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --color-primary: #6e2637;
  --color-primary-light: #e3e2e2;
  --color-secondary: #696868;
  --color-black: #000;

  /* Typography */
  --text-primary: "Poppins", sans-serif;
  --text-small: 12px;
  --text-medium: 14px;
  --text-large: 16px;
  --text-extra-large: 18px;
  --text-extra-extra-large: 20px;
  --line-height: 1.5;

  /* Border */
  --border-radius: 15px;
}
.app_container{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #DDD4E2;
  position: relative;
  margin-bottom: 35px;
}
.item-wrapper{
  border: 1px solid var(--color-primary);
  border-radius: 10px;
}
.app {
  max-width: 1440px;
  margin: 10px auto;
  width: 100%;
  border-radius: 5px;
  padding: 22px;
  overflow: hidden;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.flex {
  display: flex;
}
.charmbuilder-title {
  font-family: var(--text-primary);
  font-size: 34px;
  color: var(--color-primary);
  padding: 10px;
  font-weight: bolder;
  margin-bottom: 0.5rem;
  text-align: center;
}
.br-1 {
  border-radius: 8px;
}
.br-2 {
  border-radius: 25px;
}
@media screen and (max-width: 440px) {
  .charm-details {
    flex-direction: column;
    justify-content: center;
  }
  .items_charm-container {
    border-right: none !important;
  }
  .app{
    padding: 22px 0px !important;
  }
}
